site_name: ig-api
theme:
  name: material
  palette:
    # Palette change for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette change for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
  - mkdocs-jupyter:
      execute: true

nav:
  - Home: index.md
  - Usage: usage.md
  - API Reference: api.md
  - Samples:
      - Connect Client: sample/connect_client.ipynb